<a href="https://colab.research.google.com/github/Sayuru-Nimsara/ANN_tutorials/blob/main/basic_numpy_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [5]:
revenue = np.array([[180,200,220],[24,36,40],[12,18,20]])
expenses = np.array([[80,90,100], [10,16,20] ,[8,10,10]])

In [9]:
profit = revenue - expenses
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

In [11]:
price_per_unit = np.array([1000,400,1200])
units = np.array([[30,40,50], [5,10,15], [2,5,7]])

this is broadcasting in numpy. when we multiply matrix with different sizes it will expand them. for example in here matrix 1 * 3 expand to 3 * 3 matrix by duplicating its colums

In [14]:
price_per_unit*units

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

for do matrix multipication we can use np.dot()

In [18]:
np.dot(price_per_unit,units)

array([34400, 50000, 64400])

if we change the order we get wrong answer

In [16]:
np.dot(units,price_per_unit)

array([106000,  27000,  12400])

In [17]:
profit * 10

array([[1000, 1100, 1200],
       [ 140,  200,  200],
       [  40,   80,  100]])